<div class="modal fade" id="modalOpen" tabindex="-1" aria-labelledby="modalOpenLabel" aria-hidden="true">
  
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastre-se </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form-content" action="/login" method="post">
            <div class="form-group">
                <label for="name">Usuário</label>
                <input type="text" class="form-control" id="name" aria-describedby="name" name="user_name" />
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" />
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="password" />
            </div>

            <div class="form-group">
                <label for="password">Repita a senha</label>
                <input type="password" class="form-control" id="password" name="repeat_password" />
            </div>
        
            <button type="submit" class="btn-register">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
