<section class="home-section">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>


    <div class="photos">
        <div class="section1">
            <div class="photo1"></div>
            <div class="photo2"></div>
            <div class="photo3"></div>
        </div>

        <div class="section2">
            <div class="photo4"></div>
            <div class="photo5"></div>
        </div>

        <div class="section3">
            <div class="photo6"></div>
        </div>

        <div class="section1">
            <div class="photo7"></div>
            <div class="photo8"></div>
            <div class="photo9"></div>
        </div>

        <div class="section2">
            <div class="photo10"></div>
            <div class="photo11"></div>
        </div>

        <div class="section3">
            <div class="photo12"></div>
        </div>
    </div>
</section>