@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    color: #000;
    background-color: #EFF5F5;
    font-family: 'Nunito', sans-serif;
}