nav {
    background-color: #eb6440;
}

nav .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 32px;
}

nav .menu img{
    height: 80px;
    transform: rotate(180deg);
}

.content-navbar {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
}

.content-navbar li a{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.content-navbar li a:hover{
    color: white;
}

.form-content{
    padding: 16px;
}

input{
    margin-bottom: 16px;
}

.btn-register{
    background-color: #eb6440;
    border: none;
    padding: 8px 24px;

    border-radius: 4px;
}

.btn-register:hover{
    background-color: #d45532;
    border: none;
    padding: 8px 24px;
}