<nav>
  <div class="menu">
    <img src="/assets/img/cat.png" alt="">

    <ul class="content-navbar">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">Login</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#modalOpen">Registrar</a>
      </li>
    </ul>
  </div>
</nav>